<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE beans PUBLIC "-//PRING//DTD// BEAN 2.0//ES" 
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
 <bean id="estudiante" class="com.universidad.EstudianteBean">
 <property name="nombre" value="Juan">
 <property name="apellido" value="Perez">
 <property name="dni" value="95.445.123">
 </bean>
</beans>
